body {
    background-color: pink;
}

h1 {
    color: black;
    display: flex;
    justify-content: center;
    font-size: 35px;
}

h2 {
    color: black;
    display: flex;
    justify-content: center;
    font-size: 35px;
    padding-top: 50px;
}

h3 {
    color: black;
    display: flex;
    justify-content: center;
    font-size: 35px;
    padding-top: 50px;
}